/* choisir l'élément a class 'box' */
.box {
    display: flex;                            /* utiliser le flex box */
    align-items: center;                      /* écrit au centre */
    justify-content: center;                  /*                 */
    font-weight: bold;                        /* ecrit en gras */
}

/* choisir l'élément a class 'boxtitle' */
.boxtitle{
    width: 100%;                              /* la largeur */
    height: 15vh;                             /* la longeur */
    border:solid #333 ;                       /* la bordue en solide et en couleur #333 */
    margin-top: 25px;                         /* la taille de la marge extérieure au dessus */
    font-size: 70px;                          /* la taille du texte */
}

/*Menu*/

/* choisir l'élément d'identifiant 'drapeau' */

#drapeau{
    border: none;                     /* effacer la bordue */
    width: 80px;                      /* la largeur */
    height: auto;                     /* le longeur */
    margin: auto 16px;                /*  la taille de la marge extérieure */
}

/* choisir l'élément d'identifiant 'menu' */
#menu{
    display: flex;                    /* utiliser le flexbox */
    justify-content: space-between;   /* l'espace entre des flex items */
}

/* choisir l'élément ul des l'élément d'identifiant 'menu' */
#menu ul{
    list-style-type: none;             /* effacer des style de la liste */
    overflow: hidden;                  /* le contenu renversé est coupé et ce contenu est masqué */
    height: 50px;                      /* la longeur */
}

/* choisir l'élément li des l'élément d'identifiant 'menu' */
#menu li{
    font-size: 20px;                   /* taille du texte est 20px */
    float: left;                       /* déplacer vers à la gauche */
    font-weight: bold;                 /* écrit en gras */
    padding-left: 0;                   /* effacer le marge intérieure par défaut */
    margin: auto 20px;                 /* la taille de la marge extérieure */
}

/* choisir les élément du li de l'élément d'idedntifiant 'menu' et l'élément a class 'dropbtn' */

#menu li a, .dropbtn{
    display: inline-block;               /* de la même manière */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 /* de la même manière */
#menu li.dropdown{
    display: inline-block;
}

/* de la même manière */
#menu .drop-content{
    display: none;
    position: absolute;
    min-width: 160px;                  /* la largeur minimum */
    box-shadow:  8px 16px #9f3a38;     /* l'ombres de la boître */
    z-index: 1;                        /* définir d'un élément positionné */
}

/* de la même manière */
#menu .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* pseudo-class :hover du l'élément a class 'dropdown' des l'élément d'identifiant 'menu' et l'élément a class 'drop-content' */
#menu .dropdown:hover  .drop-content{
    display: block;
}

/* de la même manière */
h2{
    font-style: italic;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* de la même manière */
.boxsommaire{
    width: 47vw;
    height: 30vh;
    background-color: white;
    border: dashed #696767;
    margin-top: 40px;
    margin-left: 400px;
}

/* de la même manière */
.boxsommaire ol li {
    text-decoration: underline;
}

/*colum côtés*/

/* de la même manière */
.intro{
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
}

/* de la même manière */
.intro_1, .intro_2\.1, .intro_2\.2 {
    padding: 30px 16px;
}

/* de la même manière */
#photo{
    display: flex;
    justify-content: space-around;              /* des espaces entre des items sont égales */
    flex-wrap: wrap;                            /* sue toute la ligne quand il n'y a pas de place */
}

/* de la même manière */
img{
    image-rendering: pixelated;                 /* affiner les phtos */
    display:block;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
}

/* de la même manière */
.photo-vertical img{
    width: 30vw;
    left: 35vw;
}

/* de la même manière */
.photo-horizontal img{
    width: 30vw;
    left: 10vw;
    border: none;
    padding-top: 90px;
    margin-top: 100px;
}

/* de la même manière */
#gastronomie img{
    margin-top: 50px;
}

/* de la même manière */
#footer {
    width: 100%;
    height: 130px;
}

/* de la même manière */
#footer h4 {
    font-weight: normal;
    text-align: right;
    font-style: normal;
    margin-bottom: 0;
}
