
html{
    font-family: 'Akaya Telivigala', cursive;      /*la police de la page de web*/
}

/*partie de titre */

#boxtitle{                                         /*la boîte de titre*/
    text-align: center;                            /*définir l’alignement d’un texte:le texte sera centré*/
    padding-top: 5px;                              /*la marge intérieure au dessus*/
    padding-bottom: 5px;
}

#boxtitle h1{                                      /*sélectionner élément h1 de l'id boxtitle*/
    text-align: center;                            /*définir l’alignement d’un texte:le texte sera centré*/
    text-decoration-style:double;                  /*définir le style appliqué sur ce ligne:dessine une double-ligne*/
}

/*logo*/

#drapeau{                                          /*séléctionner d'id drapeau*/
    transition: all 0.5s ease-in-out;              /*définir la transition entre deux étars d'un élément:s'appliquer à toutes les propriétés */
    transition-duration: inherit;                  /*la duréé de la transition*/
    height:50px;                                   /*la hauteur du drapeau*/
}

/*Menu*/

#menu{                                             /*séléctionner de l'id menu*/
    display: flex;                                 /*les élément deviennent des éléments flexibles*/
    justify-content: space-between;                /*espacer les éléments uniformément sur l'axe principal*/
    margin-bottom: 70px;                           /*définir la marge inférieure de l'élément menu sur 70 pixels*/
}

#menu ul {                                         /*séléctionner élément ul de l'id menu*/
    list-style-type: none;                         /*définir le un disque, un caractère ou un style de compteur personnalisé d'un élément de liste: non*/
    margin: 0;                                     /*la marge extérieure des élément de la liste non ordonnée du menu*/
    padding: 0;                                    /*la marge intérieure des élément de la liste non ordonnée du menu*/
    overflow: hidden;                              /*definir le comportement souhaité pour le débordemnt des élément: le contenu est découppé si nécessaire pour s'adapter à la zone remplisage.*/
}

#menu li{                                          /*selectionner les éléments li de la liste non ordonnée de l'id menu*/
    float: left;                                   /*déplacer la position de la barre de menus vers l'extrême gauche*/
}

#menu li a, .dropbtn{
    display: inline-block;                         /*l'élément génère une boîte d'élément de bloc qui sera coulée avec le contenu environnant comme s'il s'agissait d'une seule boîte en ligne*/
    text-align: center;                            /*l’alignement de texte est au centre*/
    padding: 14px 16px;                            /*la marge intérieure appliquent le premier écart en haut et en bas 14px et le second sur les côtés droit et gauche 16 px*/
    font-weight: bold;                             /*mettre le texte en gras*/
}

#menu li.dropdown{
    display: inline-block;                         /*l'élément génère une boîte d'élément de bloc qui sera coulée avec le contenu environnant comme s'il s'agissait d'une seule boîte en ligne*/
}

#menu .drop-content{                               /*contenu de la liste déroulant réelle (il est caché par défaut)*/
    display: none;                                 /*désactiver l'affichage d'un élémnent dfin qu'il n'ait aucun effet sur la mise en page.Tous les éléments descendants ont également leur affichage désactivé*/
    position: absolute;                            /*définir la façon dont un élément est positionné dans un document:l'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page,positionné par rapport à son ancêtre le plus proche qui est positionné s'il y en a un ou par rapport au bloc englobant initial sinon*/
    min-width: 160px;                              /*la largeur minimum de contenu est réglé sur 160px*/
    z-index: 1;                                    /*définir le niveau de la boîte dans la pile par rapport au contexte d'empilement courant*/
}

#menu .drop-content a {                            /*liens dans dropdown*/
    color: black;                                  /*la couleur de texte:noir*/
    padding: 12px 16px;                            /*la marge intérieure appliquent le premier écart en haut et en bas 12px et le second sur les côtés droit et gauche 16 px*/
    text-decoration: none;                         /*définir la décoration d’un texte: pas de décoration, comportement par défaut*/
    display: block;                                /*l'élément génère une boîte de bloc ce qui ajoute des passages à la ligne avant et après l'élément dans le flux normal.*/
    text-align: left;                              /*l’alignement de texte:le texte sera aligné sur la gauche ; valeur par défaut*/
}

#menu .drop-content a:hover{                       /*changer la couleur des liens déroulants au survol*/
    background-color: #bebcba;                     /*la couleur d’arrière-plan*/
}

#menu .dropdown:hover  .drop-content{              /*afficher le menu déroulant au survol*/
    display: block;                                /*l'élément génère une boîte de bloc ce qui ajoute des passages à la ligne avant et après l'élément dans le flux normal.*/
}

/*body*/

body{                                              /*la partie body*/
    justify-content: center;                       /*le contenu sera justifié*/
    align-items: center;                           /*centrer les alignements de tous les éléments de corps de la page*/
}

/*formulaire*/

*{                                                 /*sélectionner tous les éléments*/
    box-sizing: border-box;                        /*les propriétés de largeur et de hauteur incluent le contenu, le remplissage et la bordure*/
}

.container{                                        /*sélectionner classe container*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);      /*créer des ombres pour les éléments en forme de boîte*/
    overflow: hidden;                              /*le contenu renversé est coupé et ce contenu est masqué.*/
    width: 70%;                                    /*la largeur du conteneur est 70% de la page*/
    border-radius: 5px ;                           /*les quatre coins sont incurvés sur 5 pixels*/
    background-color: #ead7c6;                     /*la couleur d’arrière-plan de la partie formulaire est #ead7c6*/
    margin: auto;                                  /*évaluer automatiquement l'alignement de chaque élément*/
    padding: 20px;                                 /*avoir une marge intérieure 20px*/
}

.header{                                           /*sélectionner classe header*/
    padding: 20px 40px;                            /*avoir une marge intérieur au-dessus et en bas 20px; à droite et à gauche 40px*/
    margin:10px;                                   /*évaluer automatiquement l'alignement de chaque élément sur 10 pixels*/
}

.form{                                             /*sélectionner classe form*/
    padding: 30px 40px;                            /*avoir une marge intérieur au-dessus et en bas 30px; à droite et à gauche 40px*/
}

.form-controls{                                    /*sélectionner la classe form-controls*/
    margin-bottom: 10px;                           /* la marge inférieure de l'élément sur 10 pixels*/
    padding-bottom: 20px;                          /*le remplissage inférieur de l'élément sur 20 pixels*/
    position: relative;                            /*utilisé pour définir un élément afin d'utiliser les propriétés de position sans affecter le rendu initial*/
}

.form-controls ul{                                 /*sélectionner les élément ul de la classe form-controls*/
    list-style-type: none;                         /*ne pas afficher les index des éléments de la liste*/
}

.form-control{                                     /*sélectionner classe form-control*/
    margin-bottom: 10px;                           /* la marge inférieure de l'élément sur 10 pixels*/
    padding-bottom: 20px;                          /*le remplissage inférieur de l'élément sur 20 pixels*/
    position: relative;                            /*utilisé pour définir un élément afin d'utiliser les propriétés de position sans affecter le rendu initial*/
}

.form-control ul{                                  /*sélectionner les éléments ul de la classe form-control*/
    list-style-type: none;                         /*ne pas afficher les index des éléments de la liste*/
}

.form-controle label {                             /*sélectionner l'élément label de la classe form-controle*/
    display: inline-block;                         /*sans saut de ligne après la fin d'une balise, les balises peuvent être placées côte à côte*/
    margin-bottom: 5px;                            /*le remplissage inférieur de l'élément sur 5 pixels*/
}

.form-controle textarea{                           /*sélectionner les éléments input de la classe form-control*/
    border: 2px solid #f0f0f0;                     /*définir une bordure pour l'élément en tant que ligne rapide de 2 px et la couleur #f0f0f0*/
    border-radius: 4px;                            /*les quatre coins sont incurvés sur 4 pixels*/                              /*afficher un élément en tant qu'élément de bloc. Il commence sur une nouvelle ligne et occupe toute la largeur*/
    font-family: inherit;                          /*hériter la valeur de la propriété font-family de son élément parent*/
    padding: 10px;                                 /*la marge intérieure sur 10px*/
    width: 100%;                                   /*la largeur est 100% de la partie form-control*/
}

.form button{                                      /*sélectionner la classe form buuton*/
    border-radius: 4px;                            /*les quatre coins sont incurvés sur 4 pixels*/
    color: #fff;                                   /*la couleur de texte est #fff*/
    font-family: inherit;                          /*hériter la valeur de la propriété font-family de son élément parent*/
    font-size: 16px;                               /*la taille du texte en pixel*/
    padding: 10px;                                 /*la marge intérieure 10px*/
    width: 20%;                                    /*la largeur est 20% de la partie form*/
    margin-top: 20px;                              /*la marge supérieure de l'élément sur 20 pixels*/
    display: inline-block;                         /*l'élément génère une boîte d'élément de bloc qui sera coulée avec le contenu environnant comme s'il s'agissait d'une seule boîte en ligne*/
}

/*bordure inférieur*/

#footer {                                          /*séléctionner l'id footer*/
    width: 100%;                                   /*largeur de la bordure*/
    height: 70px;                                  /*la hauteur de bordure*/
    font-size: 25px;                               /*la taille du texte en pixel*/
    margin-top: 70px;                              /*la marge supérieure de l'élément sur 70 pixels*/
}

#footer h3 {                                       /*sélectionner élément h3 de l'id footer*/
    font-weight: normal;                           /*fixer l’épaisseur de la police:la valeur par défaut*/
    text-align: right;                             /*l’alignement de texte:le texte sera aligné sur la droite*/
    font-style: italic;                            /*fixer l’inclinaison d’un texte:penche le texte*/
    margin-top: 1px;                               /*la marge supérieure de l'élément sur 1 pixels*/
}