/* choisir html */
html{
    font-family: 'Akaya Telivigala', cursive;    /* définir la police */
    background-color: #fafae9;                   /* couleur de l'arrière plan */
}

/* choisir l'élément a class 'box' */
.box {
    display: flex;                            /* utiliser le flex box */
    align-items: center;                      /* écrit au centre */
    justify-content: center;                  /*                 */
    font-weight: bold;                        /* ecrit en gras */
    font-size: 70px;                          /* taille de la texte */
    background-color: #730404;                /* couleur de l'arrière */
    margin-top: 20px;                         /* marge extérieur au dessus */
    margin-bottom: 15px;                      /* marge extérieur au dessous */
    border: 4px solid #333;                   /* bordue 4px en solide et en couleur #333 */
}

/* choisir h1 */
h1{
    color: #ffff00;                       /* ecrit en jaune */
}

/*Menu*/

/* choisir l'élément d'identifiant 'drapeau' */

#drapeau{
    border: none;                     /* effacer la bordue */
    width: 80px;                      /* la largeur */
    height: auto;                     /* le longeur */
    margin: auto 16px;                /*  la taille de la marge extérieure */
}

/* choisir l'élément d'identifiant 'menu' */
#menu{
    display: flex;                    /* utiliser le flexbox */
    justify-content: space-between;   /* l'espace entre des flex items */
    background-color: #d99c73;        /* couleur de l'arrière plan */
    margin-bottom: 15px ;
}

/* choisir l'élément ul des l'élément d'identifiant 'menu' */
#menu ul{
    list-style-type: none;             /* effacer des style de la liste */
    overflow: hidden;                  /* le contenu renversé est coupé et ce contenu est masqué */
    height: 50px;                      /* la longeur */
    color: #d99c73;                        /* couleur du texte */
}

/* choisir l'élément li des l'élément d'identifiant 'menu' */
#menu li{
    font-size: 20px;                   /* taille du texte est 20px */
    float: left;                       /* déplacer vers à la gauche */
    font-weight: bold;                 /* écrit en gras */
    padding-left: 0;                   /* effacer le marge intérieure par défaut */
    margin: auto 20px;                 /* la taille de la marge extérieure */
}

/* choisir les élément du li de l'élément d'idedntifiant 'menu' et l'élément a class 'dropbtn' */

#menu li a, .dropbtn{
    display: inline-block;               /* de la même manière */
    text-align: center;                  /* écrit au centre */
    padding: 14px 16px;                  /* taille de la marge intérieure */
    text-decoration: none;               /* effacer les souligners */
    color:saddlebrown;
}

/* de la même manière */
#menu li.dropdown{
    display: inline-block;
}

/* de la même manière */
#menu .drop-content{
    display: none;
    background-color: #f3ebd3;
    position: absolute;
    min-width: 160px;                  /* la largeur minimum */
    box-shadow:  8px 16px #9f3a38;     /* l'ombres de la boître */
    z-index: 1;                        /* définir d'un élément positionné */
}

/* de la même manière */
#menu .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* pseudo-class :hover du l'élément a class 'dropdown' des l'élément d'identifiant 'menu' et l'élément a class 'drop-content' */
#menu .dropdown:hover  .drop-content{
    display: block;
    background-color: #fdd3b7;
}

/* de la même manière au dessus */
#menu .drop-content a:hover{
    background-color: #bebcba;
}

/* choisir l'élément img */
img{
    border: solid #333;                   /* bordue en solide, en couleur #333 */
    height: auto;                         /* longeur */
    margin: 10px;                         /* taille de la marge exterieur */
}

/* choisir l'élément img de l'élément a class 'photo-vertical' */
.photo-vertical img{
    width: 30vw;                         /* largeur */
    left: 35vw;                          /* longeur */
}

/* de même manière au dessus */
.photo-horizontal img{
    width: 60vw;
    left: 20vw;
}

/* choisir l'élément a class 'photo' */
.photo{
    display: flex;                       /* utiliser le flex box */
    justify-content: space-around;       /* l'espace entre des items */
    flex-wrap: wrap;                     /* sur toute la ligne quand il n'y a pas de place */
}

/* de la même manière */
#menu_2 ul{
    list-style-type: none;                     /* effacer des style de la liste */
    margin: 0;
    padding: 0;
    overflow: hidden;                          /* le contenu renversé est coupé et ce contenu est masqué */
    background-color: silver;
    border: 1px solid #333;
}

/* le contenu renversé est coupé et ce contenu est masqué */
#menu_2 li{
    display: inline;                           /* utiliser le flex box */
    float: right;
    border-left: 2px solid #333;
    margin-left: 0;
}

/* choisir le dernière enfant de l'élément li de l'élément d'identifiant 'menu' */
#menu_2 li:last-child{
    border-left: none;
}

/* le contenu renversé est coupé et ce contenu est masqué */
#menu_2 li a{
    font-size: 50px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    background-color: #bebab8;
    color: #9f3a38;
}

/* pseudo-class :hover du l'élément li des l'élément d'identifiant 'menu' */
#menu_2 li a:hover{
    color: white;
    background-color: #9f3a38;
}


